{% extends 'base.html' %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-body">
                <h1 class="card-title mb-3">{{ course.title }}</h1>

                <p class="card-text">
                    {{ course.description }}
                </p>

                <hr>

                <ul class="list-group list-group-flush mb-4">
                    <li class="list-group-item">
                        <strong>Kategoria:</strong> {{ course.get_category_display }}
                    </li>
                    <li class="list-group-item">
                        <strong>Niveli:</strong> {{ course.get_level_display }}
                    </li>
                    <li class="list-group-item">
                        <strong>Kohëzgjatja:</strong> {{ course.duration }} orë
                    </li>
                </ul>

                <a href="{% url 'course_list' %}" class="btn btn-outline-secondary">
                    ← Kthehu te kurset
                </a>

                <button class="btn btn-success float-end">
                    Regjistrohu në kurs
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
