{% extends 'base.html' %}
{% block title %}Kreu{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="mb-4 animate__animated animate__fadeInDown">
                Mirësevini në Platformën e Mësimit në Distancë!
            </h1>
            <p class="lead mb-4 animate__animated animate__fadeIn">
                Zbuloni kurse të reja, menaxhoni profilin tuaj dhe fitoni certifikata nga komoditeti i shtëpisë.
            </p>
            <a href="{% url 'course_list' %}" class="btn btn-primary btn-lg animate__animated animate__fadeInUp">
                <i class="fas fa-book-open me-2"></i> Shfleto Kurset
            </a>
        </div>
    </div>
</div>
{% endblock %}